html {
  position: relative;
  min-height: 100%;
}


	
body 
{
				
			  background-color: #7ed957;
		 
					-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}





footer 
{	
			  background-color: #ffde59;
			  width:100%;

			 
  bottom: 0;
  width: 100%;
  height: 30px; /* Set the fixed height of the footer here */
  line-height: 75px; /* Vertically center the text there */
opacity: .70;
}
		
header 
			{	
				background-color: #ffde59;				
				padding-bottom: 0px;
				border-style: outset;				
				border-color: #7ed957;
				border-width: 1.5px;
				margin: 0px;
				padding-bottom: 10px;

			}



.prop-box-content{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hotep_center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


  .logo {
    height:200px;
     width:200px;
     image-rendering: auto;
     image-rendering: smooth;
     image-rendering: high-quality;
}






.box-additive-color{

background-color:#ffde59;

}


.side_stick{
				position: -webkit-sticky;
  position: sticky;
  top: 0;

}

#one { position: sticky; top: 20px; }
